<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Bicicletas Web | Index</title>
	<!-- BOOTSTRAP 4 CDN -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-dark bg-dark mb-4">
		<a href="/" class="navbar-brand">Bicicletas Web</a>
	</nav>

	<div class="container">
		<h1 class="mb-4">Sitio en construcción</h1>

		<a href="/api">
			<button type="button" class="btn btn-info">IR AL API</button>
		</a>
	</div>
</body>
</html>